// magazine dimensions
$magazine-container-width: 950px;
$magazine-container-height: 624px;

$base-font-size: 14px;
$base-line-height: 16px;

$framework-image-path: '../images/';
$framework-fonts-path: '/alfresco/nap/webAssets/magazine/_framework/fonts/';
$framework-css-path: '../css/';