.textAlignLeft {
    text-align: left !important;
}

.textAlignCenter {
    text-align: center;
}

.right-align {
    text-align: right !important;
}

.textAlignJustify {
    text-align: justify;
}

.upperCase {
    text-transform: uppercase !important;
}

.lowerCase {
    text-transform: lowercase !important;
}

.normalCase {
    text-transform: none !important;
}

.capitalize {
    text-transform: capitalize !important;
}
