				</div>
			</div>
		</div>


			<script type="text/javascript">
		// Require
		var require = {
			baseUrl: '/',
	        deps: ['config', 'magazine/app/main']
	        //deps: ['config', 'product-overlay/app/main']

	    };
	</script>
	<script type="text/javascript" src="../../common/libs/require.js"></script> 
    </body>
</html>