.edLetterMain {
    padding-top: 8px;
    padding-bottom: 8px;
    
    h2 {
        font-family: $ModernNAP-Display;
        font-size: 45px;
        line-height: 42px;
    }
    
    p, em {
        font-family: $ModernNAP-Text;
        margin-bottom: 0px !important;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 0;
    }
}