.paddingLeft5 {
    padding: 0 0 0 5px;
}

.paddingLeft8 {
    padding: 0 0 0 8px;
}

.paddingRight5 {
    padding: 0 5px 0 0;
}

.paddingRight8 {
    padding: 0 8px 0 0;
}

.paddingTop5 {
    padding: 5px 0 0 0;
}

.paddingBottom5  {
    padding: 0 0 5px 0;
}

.paddingTop8 {
    padding: 8px 0 0 0;
}

.paddingBottom8 {
    padding: 0 0 8px 0;
}

.paddingL5{
    padding-left:5px !important;
}

.paddingR5{
    padding-right:5px !important;
}

.paddingL8{
    padding-left:8px !important;
}

.paddingR8{
    padding-right:8px !important;
}

.paddingB5{
    padding-bottom:5px !important;
}

.paddingT5{
    padding-top:5px !important;
}

.paddingB8{
    padding-bottom:8px !important;
}

.paddingT8{
    padding-top:8px !important;
}
